/*A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* RESET STYLES */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: italic }
.italic { font-style: italic }
.aligncenter { display:block; margin:0 auto; }
.alignleft { float:left; margin:10px; }
.alignright { float:right;margin:10px; }
.no-margin{margin:0px;}
.no-bottom{margin-bottom:0px;}
.no-padding{padding:0px;}
.margin-t{margin-top:25px;}
div { position:relative } 
a{color:#7FBA0A;text-decoration:none;}
a:hover{color:#7FBA0A;text-decoration:underline;}
a:active,a:focus{outline: none;}

*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

h1{font-size: 42px; line-height:42px;}
h2{font-size:36px;line-height:36px;}
h3{font-size:30px;line-height:30px;}
h4{font-size:24px;line-height:24px;}
h5{font-size:18px;line-height:18px;}
h6{font-size:12px;line-height:12px;}
h1, h2{margin-bottom:12px;text-transform: uppercase; font-family: 'Russo One', sans-serif;color: rgb(224, 224, 223);margin-left: 42px;

word-spacing: 11px;}
h3, h4, h5, h6{margin-bottom:6px;}
p{margin-bottom:12px;font-family:Arial, Helvetica, sans-serif;	text-transform: uppercase;font-family: 'Russo One', sans-serif;color:#fff;
word-spacing: 21px;	}
.column-clear{clear:both;}
.clear{overflow: hidden;}

html{background: rgb(214, 81, 81);  background-size:cover;}
body{font: 12px/1.5em Arial, Helvetica, sans-serif, "Arial Narrow";color:#646663;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%; min-height:100%; background:none;}

.wrapper{

padding:20px 0;
margin-top: 19%;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}

.title{text-align:center;}


/* ---------- TIMER ---------- */
.timer_wrap{
	width:100%;
	margin: 0 auto;
}
#counter {
    height: 155px;
    font-size: 60px;
    color: #FFF;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}
.timer{
	border-top:2px ridge #5F5F5F;
	border-bottom:2px ridge #5F5F5F;
}
.timer h4{
	font-size: 14px;
	color: #E5E5E5;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-top: 20px;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    color: #fff;
    display: inline-block;
    margin-right: 18px;
    width: 100px;
    height: 100px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 4em;
    background: url('../images/timer-bg.png');
    background-repeat: repeat-x;
    padding-top: 17px;
    -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.3);
    box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.3);
}
.points {
	float: left;
	width:40px;
	margin: 0;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 138px;
	text-shadow: none;
	color:#FFF;
    display: none;
}
.boxName {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #858585;
    font-weight: 600;
    padding: 13px 0 0 0;
    color: #FFF;
}
/* ---------- /TIMER ---------- */
/*----copy-right----*/
.copy-right a{
	font-family: 'Russo One', sans-serif;
	font-size:12px;
	
	color:#999;
}
.copy-right a:hover{
	color:#fff;
	text-decoration:none;
	font-size:12px;
}
.copy-right p{
	font-size:12px;
	color:#fff;
	word-spacing:3px;
}
.copy-right{
	text-align: center;
}
/*-- responsive design --*/
@media(max-width:640px){
h1, h2 {
	margin-left: 0px;
	word-spacing: 7px;
}
h1, h2 {
    font-size: 33px;
}
}
@media(max-width:600px){
h1, h2 {
    font-size: 30px;
}
.copy-right p {
    font-size: 11px;
}
p {
    word-spacing: 9px;
}
}
@media(max-width:320px){
h1, h2 {
    font-size: 23px;
}
}
